@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulariol {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding: 5rem 2rem 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;

    &__campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;

    }

    &__label {
        display: block;
        color: rgba(v.$negro, .8);
        font-size: 1.8rem;
    }

    &__input {
        padding: 1rem;
        border: none;
        border-bottom: 1px solid rgba(v.$negro, .5);
    }

    &__input:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 1);
    }

    &__submit {
        @include m.boton(v.$azul-siteur, v.$blanco, pulsate-azul-siteur);
        // @include m.boton(v.$blanco, v.$negro);
        // border: 5px solid v.$azul-siteur;
        margin: 3rem 0 2rem 0;
        width: auto;
        align-self: center;
        border-radius: 1rem;


       
    }

    // &__submit:hover {
    //     color: rgb(241, 227, 30);
    // }
}


.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    padding: 5rem 2rem 2rem;
    width: 70rem;

    @media (width < 768px) {
        width: 50rem;
    }

    &__fieldset {
        padding: 2rem 2rem;
    }

    &__datos-empleado {
        @include m.desktop {
            @include m.grid(3, 2rem);
        }
    }

    &__campo {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;

        &.select {
            width: 100%;

            @include m.desktop {
                width: 50%;
            }
        }
    }

    &__label {
        display: block;
        color: rgba(v.$negro, .8);
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__input {
        padding: 1rem;
        border: 1px solid rgba(v.$negro, .5);
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    &__input:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 1);
    }

    &__submit {
        @include m.boton(v.$azul-siteur, v.$blanco, pulsate-azul-siteur);
        // @include m.boton(v.$blanco, v.$negro);
        // border: 5px solid v.$azul-siteur;
        margin: 3rem 0 2rem 0;
        width: auto;
        align-self: center;
        border-radius: 1rem;

        &--asignar-ticket{

            @include m.boton(#9eec50, white, pulsate-verde-limon);
            // @include m.boton(v.$blanco, v.$negro);
            // border: 5px solid v.$azul-siteur;
            margin: 3rem 0 2rem 0;
            width: auto;
            align-self: center;
            border-radius: 1rem;

        }
        &--pausar-ticket{

            @include m.boton(#999999, white, pulsate-gris);
            // @include m.boton(v.$blanco, v.$negro);
            // border: 5px solid v.$azul-siteur;
            margin: 3rem 0 2rem 0;
            width: auto;
            align-self: center;
            border-radius: 1rem;

        }
        &--escalar-ticket{

            @include m.boton(#F6A215, white, pulsate-naranja);
            // @include m.boton(v.$blanco, v.$negro);
            // border: 5px solid v.$azul-siteur;
            margin: 3rem 0 2rem 0;
            width: auto;
            align-self: center;
            border-radius: 1rem;

        }
        &--cerrar-ticket{

            @include m.boton(#4EAE51, white, pulsate-verde);
            // @include m.boton(v.$blanco, v.$negro);
            // border: 5px solid v.$azul-siteur;
            margin: 3rem 0 2rem 0;
            width: auto;
            align-self: center;
            border-radius: 1rem;

        }
    }

    // &__submit:hover {
    //     color: rgb(241, 227, 30);
    // }
}



input[type="email"],
input[type="password"] {

    background-color: rgba(255, 255, 255, 1);
}

input[type="email"]:-webkit-autofill,
input[type="password"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.expediente-extension {
    display: flex;
    flex-direction: column;

    @include m.desktop {
        @include m.grid(3, 2rem);
    }
}

.formulario__clasificacion{
    display: flex;
    flex-direction: column;
}
