@use 'base/variables' as v;
@use 'base/mixins' as m;


.select2 .option {
    font-size: 1rem;
}

.select2-results__options {
    position: relative;
}


.select2-container {

    width: 100% !important;
    font-size: 1.5rem;
    font-weight: normal;
}

.asignar-tickets{
    &__header{
        margin-top: 4rem;

        @media (width<768px) {
            margin-top: 8rem;
        }
    }
    &__heading{
        margin: 1rem 0 2rem 0;
    }
    &__texto {
    text-align: center;
    margin: 1rem 0;

    & span {
        color: green;
        font-size: 1.8rem;
        font-weight: v.$bold;
    }
}
}


.textarea {
    padding-left: 3rem;
}

.tickets {
    font-size: 1.5rem;
    width: 100%;
    max-width: 100rem;
    min-width: 50rem;



    & .texto {
        font-size: 1.8rem;
        font-weight: v.$bold;
        text-align: center;
    }


    &__informacion{

&__encabezado{
    @media (width<768px) {
        margin: 5rem 0;
    }
}

        &-desglose{
            display: flex;
            justify-content: center;
        }

        &--comentarios{
            display: flex;
            align-items: center;
            gap: 6rem;
            margin: 2rem 0;

            @media (width<768px) {
                margin: 5rem 0;
            }
        }
    
    &--texto {
        display: flex;
        justify-content: space-between;
        gap: 8rem;
        & span,
        &--label {
            font-size: 1.6rem;
            font-weight: v.$bold;
        }

        &--text-area{
            width: 25rem;
            height: 8rem;
            resize: none;

            @media (width<768px) {
                height: 10rem;
            }
        }

    }

}

&__asignacion{
    
    margin-top: 2rem;
}

}


.formulario{

    &--asignar{
        width: 100%;
        max-width: 100rem;
        min-width: 50rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__fieldset{
        &--leyenda{
            font-size: 1.8rem;
            font-weight: v.$bold;
           
        }
        &--asignar{
            width: 100%;
            padding: 2rem 2rem 3rem 2rem;
            
            @media (width<768px) {
                padding: 3rem 2rem 3rem 2rem;
                
            }
    }
    }
    &__campo--asignar{
        width: 100%;
    }
}

.formulario__submit--asignar-ticket{
    @media (width<768px) {
        margin: 4rem 0;
    }
}


.volver-asignar{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: flex-end;

    @media (width<768px) {
        justify-content: center;
        top: 8rem;
    }
    
    
    
}


.volver-ver-tickets-asignacion{
 @include m.boton(v.$azul-siteur,v.$blanco );
 padding: 0 0 0 2rem;

 display: flex;
 align-items: center;
 gap: 2rem;

 width: 20rem;
 font-size: 1.5rem;
}