@use 'base/mixins' as m;
@use 'base/variables' as v;

.alerta{
    padding-left:  5rem;
    padding-right:  5rem;
}

.ver-tickets{
    
    
 

 &__header{
    
    background-color: red;
    width: max-content;
    margin: 0 auto;
    padding-top: 2rem;
 }

&--alerta{
 
    margin: 0 auto;
    width: max-content;
}

}

.tabla {


    &__body {

        background-color: white;
    }

    &__contenedor {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 70vh;


        &-container {

            padding: 2rem;
        }

    }


    &__header {

        &__pegar {
            position: sticky;
            top: 0;
        }

    }

    &__td {
        padding: 0 1rem;
        text-align: center;
        border-bottom: 1px solid v.$azul-siteur;
        font-size: 1.2rem;

        @include m.tablet {
            font-size: 1.5rem;
            // font-weight: v.$bold;
        }
    }

    &__th {
        padding: 1rem 1rem;
        text-align: center;
        background-color: v.$azul-siteur;
        color: v.$blanco;
        font-size: 1.3rem;

        @include m.tablet {
            font-size: 1.5rem;

        }

    }

    &__row:nth-child(2n) {
        background-color: lighten(v.$azul-siteur, 70);
    }

    &__contenedor {

        overflow-x: auto;

        // height: 50rem;
    }

    &__boton {
        //    padding: 0 1rem;
        //     display: flex;
        //     // justify-content: center;
        //     align-items: center;


        &-azul {
            @include m.boton(#108dbf, white);
            // padding: 1.2rem 0rem;
            padding: 2rem 2rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        &-gris {
            @include m.boton(#999999, white);
            // padding: 1.2rem 0rem;
            padding: 2rem 2rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        &-naranja {
            @include m.boton(#F6A215, white);
            padding: 2rem 2rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;


        }

        &-verde {
            @include m.boton(#4EAE51, white);
            // padding: 1.2rem 0rem;
            padding: 2rem 2rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &-verde-limon {
            @include m.boton(#9eec50, white);
            // padding: 1.2rem 0rem;
            padding: 2rem 2rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }


    }

    &__tickets {

        &--botones {
            display: flex;
            // flex-direction: column;
            gap: 2rem;
            height: 5rem;
            // justify-content: space-between;
            justify-content: flex-start;

            &--colaborador {
                justify-content: center;
            }


            @include m.tablet {

                gap: 1rem;
            }
        }
    }

    &__cerrado {
        text-align: center;
        width: 100%;
        font-size: 2.8rem;
        font-weight: v.$bold;
        margin: 0;
        display: flex;
        align-items: center;

    }
}


.contenedor{
    background-color: red;
    max-width: 120rem;
    margin: 0 auto;
    font-size: 1.5rem;
}

.filters {

    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    padding: 0 2rem;

    @include m.tablet {

        @include m.grid(3, 1rem);
        column-gap: 1rem;
        padding: 0;
        margin-bottom: 0;
       
    }
}

.filter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: end;

    @include m.tablet {

        gap: 1rem;
        margin-bottom: 0rem;
    }
}


.historico-tickets__header {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    @include m.tablet {
        @include m.grid(3, 2rem);
    }

}

.volver-ver-tickets {
    @include m.boton(v.$azul-siteur, white);
    padding: 0 0 0 2rem;

    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    width: 20rem;

}

.boton-regresar {
    //    background-color: v.$azul-siteur;

}


td,
th {
    writing-mode: vertical-lr;
    
    @include m.tablet { 
      writing-mode: horizontal-tb;
    
  }
}