@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
      &__header {
        background-color: v.$colaborador-barra;
        color: v.$blanco;

    }



    &__submit--logout {

      
      color:v.$blanco;
      
      

      &:hover {
          cursor: pointer;
           color: white;
          text-shadow: v.$colaborador-blur;
      }
      
  }


  &__submit{
    &:hover {
      cursor: pointer;
      color: white;
      text-shadow: v.$colaborador-blur;
  }
  }

    &__sidebar{
      // background-color: v.$admin
      background-color: v.$colaborador-barra
    }



    &__enlace{
      color: v.$blanco;

      &:hover{
        background-color:v.$colaborador-hover;//lighten(v.$admin-barra, 20);
        // color: v.$admin-color-hover;
        border-radius: 1rem;
        color: white;
        text-shadow: v.$colaborador-blur;
        
       


      }
    }
} //dashboard

ul[class*='ull']{
  width: 25rem;
  background-color: v.$colaborador-barra;
  position: fixed;
  border-radius: 0 1rem 1rem 0;
  left: -.4rem;

 @include m.tablet { 
  position: unset;
  width: auto;
 }
}


.formulario__submit--nuevo-ticket{
  @include m.boton(v.$colaborador-sidebar, v.$blanco);
  margin: 3rem 0 2rem 0;
  width: auto;
  align-self: center;
  border-radius: 1rem;

}












      











