@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
      &__header {
        background-color: v.$admin;
        color: lighten(v.$gris-oscuro,40);

    }

    &__sidebar{
      // background-color: v.$admin
      background-color: v.$gris-oscuro
    }

} //dashboard










