@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}


.input-placeholder::placeholder{
    color: white!important;
}

.bg-primary{
    background-color: v.$azul-siteur!important;
}

.input-placeholder{
    border: none;
    color: yellow;
}

.icono-boleto::before{
    transform: rotate(-45deg)!important;
    font-size: 5rem!important;
}

.btn-info{
    background-color: rgb(88, 185, 87)!important;
    border: none;
    color: white;
}

textarea{
    resize: none!important;
}