// Fuentes
$fuente-principal: 'Righteous', sans-serif;

// Tamaño de Media Queries
// $telefono: 480px;
$telefono: 501px;
$tablet: 768px;
$desktop: 1024px;
$desktop2: 1800px;
$xl_desktop: 1200px;
$xl_desktop2: 2000px;

// Colores
$azul: #007df4;
$secundario: #00c8c2;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;
$blanco: #fff;
$grisLight: #757575;

$rojo: rgb(169, 0, 0);
$verde: #02db02;
$azul-siteur: rgb(33,52,92); //#213461

$admin-barra: #212121;
$admin-sidebar: #424242;
$admin-hover: #303030;
$admin-color-hover:#03DAC5;

$anakin:  
0 0 .5rem #08f,
0 0 .5rem #08f,
0 0 .5rem #08f,
0 0 .5rem #08f,
0 0 .5rem #08f;
$vader:  0 0 1rem #ff0000,
0 0 1rem #ff0000,
0 0 1rem #ff0000,
0 0 1rem #ff0000,
0 0 1rem #ff0000;
// $admin-color-hover:#35B7FF;

$colaborador-barra: #213461;
$colaborador-sidebar: #213461;
$colaborador-hover: #38435C;
$colaborador-color-hover:#213461;

$colaborador-blur:  
0 0 .3rem #F1D02C,
0 0 .3rem #F1D02C,
0 0 .3rem #F1D02C,
0 0 .3rem #F1D02C,
0 0 .3rem #F1D02C;


$contenido: #eee;
$helpdesk: green;
$soporte: purple;
$colaborador: rgb(33,52,92);;


// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900