@use 'base/mixins' as m;
@use 'base/variables' as v;




.authl.login {
    // background-image: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,  0.7)), url('/build/img/mesa2.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/build/img/mics.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: repeat no-repeat;
    min-height: 100vh;
    padding-top: .1rem;
    border: 1px solid v.$negro;
   

}

.authl {

    &__contenedor {
        @include m.contenedor-smm;
        margin-top: 5rem;
    }

    &__heading {
        color: v.$blanco;
    }


    &__texto {
        text-align: center;
        color: v.$blanco;
    }
}

.imagen {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 5rem;

    &__logo {
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
}

.auth {
    

    &__contenedor {
        @include m.contenedor;
        margin-top: 10rem;

        &__confirmar{
            @include m.contenedor-sm;
            margin: 10rem auto;
        }

        &.olvide,
        &.reestablecer {
            @include m.contenedor-sm;
            margin-top: 10rem;
        }
    }

    &__heading,
    &__texto {
        color: v.$negro;
        text-align: center;
    }
}

.imagen {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 5rem;


    &__logo {
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
}

