@use 'base/mixins' as m;
@use 'base/variables' as v;


.dash-empleado {

    display: flex;
    flex-direction: column;
    align-items: center;
    @media (width<500px) {
        height: 87rem;
    }
    
    &__imagen {

        // width: 20rem;
        margin: 5rem 0 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // box-shadow: 12px 12px 20px 10px rgba(0,0,0,0.3);
        filter: drop-shadow(18px 18px 10px rgba(0, 0, 0, .5));
        // border-radius: 5%;
        // overflow: hidden;

       


    }

    &__nombre {

        margin-bottom: 3rem;
        color: v.$gris;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        
        &--texto{
            font-size: 3rem;
            text-align: center;

            @media (width<768px) {
                font-size: 1.8rem;
            }

        }

    }

    &__informacion-tickete {
        // background-color: green;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;

        @media (width <768px) {
            @include m.grid(2, 5rem);
        }



        &--abiertos {

            background-color: rgb(248, 88, 88);
        }


        &--escalados {
            background-color: v.$naranja-boton;
        }

        &--pausados {
            background-color: v.$gris-boton;
        }

        &--cerrados {
            background-color: v.$verde-boton;
        }
    }

    &__informacion-texto {

        
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-top: 3rem;
        text-align: center;

        &--leyenda {
            font-size: 1.3rem;
        }


    }
}

.empleado__imagen{
    &--foto{
        width: 20rem;
        border-radius: 5%;
        
    }
}

.tickete {

    &--info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20rem;
        border-radius: 2rem;
        box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);



        // background-color: yellowgreen;
    }

    &--texto {

        color: v.$blanco;
        text-align: center;
    }

    &--cantidad {

        font-size: 8rem;
        font-weight: v.$bold;
        margin: 0 0 2rem 0;

        @media (width<920px) {
            font-size: 5rem;
        }
    }
}