@use 'base/mixins' as m;
@use 'base/variables' as v;


.dashboard {

    &__sidebar {


        &__ip {
            text-align: center;
            transition: all .5s;
        }





        position: relative;
        border-radius: 0 3rem 3rem 0;
        min-height: 100vh;

        background-color: #eee;
        display: flex;
        flex-direction: column;



        &-contenedor {
            min-height: 100vh;
            // width: 100%;
            // transition: width 1s ease;

            &.activo {
                // width: 8rem;

                & .dashboard {

                    &__sidebar {

                        &--header {
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }

                        &__ip {
                            visibility: hidden;
                            opacity: 0;
                        }

                        &--empleado {

                            &-imagen {
                                width: 5rem;
                            }

                            &-nombre {
                                opacity: 0;
                                font-size: 0;
                            }
                        }


                        &-nav {

                            &--menu ul {
                                padding-left: 1rem;

                                & li{
                                    background-color: red;
                                }
                            }

                            &--menu>ul>li>a {
                                display: flex;
                                align-items: center;
                                justify-content: center;


                                & .dashboard__sidebar-nav--texto {
                                    position: absolute;
                                    left: 9rem;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    padding: 1rem;
                                    border-radius: 0.4rem;
                                    color: #fff;
                                    background-color: #000;


                                }
                            }

                            // &--menu ul {
                            //     padding: 2rem;

                            //     & li {
                            //         overflow: hidden;

                            //         &:hover{
                            //             overflow: visible;
                            //               position: absolute;

                            //         }

                            //         & a {
                            //             gap: 4rem;
                            //             padding-left: 1rem;
                            //         }
                            //     }
                            // }

                            &--arrow {
                                opacity: 0;
                            }
                        }

                    }
                }

                //dashboard


            }

            //activo


        }


        &--header {

            width: 80%;
            // border-bottom: .15rem solid rgba(65, 64, 64, 0.1);
            box-shadow: 0px 18px 15px -28px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            margin-bottom: 1rem;
            padding-bottom: 2rem;
            transition: all .1s;


        }

        &--empleado {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;



            &-imagen {
                width: 15rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid v.$grisLight;
                transition: width .5s;

                &--foto {
                    width: 100%; //esta en globales
                    object-fit: cover;
                }

                // background-color: blue;
            }




            &-nombre {
                color: grey;
                text-align: center;
                font-size: 1.3rem;
                font-weight: v.$bold;
                transition: all .1s ease-in-out;

                &--texto {
                    margin-bottom: .5rem;
                }

            }
        }


        &-nav {

            max-width: 28rem;
            box-shadow: 0px 18px 15px -28px rgba(0, 0, 0, 0.3);


            flex: 1;

            &-arrow {
                transition: opacity .1s ease-in-out;
            }

            &--menu ul {
                transition: all .1s;
            }

            &--menu ul li {
                list-style: none;
                margin-bottom: .5rem;
                // padding-right: 1.5rem; 

            }

            &--menu ul li .dashboard__sidebar-nav--arrow {
                font-size: 1.4rem;
                transition: all .2s;
            }

            &--menu ul li.activo .dashboard__sidebar-nav--arrow {
                transform: rotate(450deg);

            }


            &--menu ul li a {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.3rem;
                font-weight: v.$bold;
                color: v.$grisLight;
                text-decoration: none;
                padding: 1.2rem .8rem;
                border-radius: .8rem;
                transition: all .3s;

            }

            &--menu ul li>a:hover,
            &--menu ul li.activo>a {
                color: #000;
                background-color: lighten(v.$grisLight, 60);
            }



            &--menu.dark ul li>a:hover,
            &--menu.dark ul li.activo>a {
                color: #fff;
                background-color: lighten(v.$admin-barra, 60);
            }

            &--icono {
                font-size: 2rem;
            }

            &--texto {
                flex: 1;
                padding-top: .3rem;
            }

            // &--arrow {
            //     font-size: 1.4rem;
            // }



            &--menu .dashboard__sidebar-nav--sub-menu {
                margin-left: 2rem;
                padding-left: 2rem;
                padding-top: .5rem;
                border-left: .1rem solid v.$grisLight;
                display: none;
            }

            &--menu .dashboard__sidebar-nav--sub-menu li a {
                padding: 1rem .8rem;
                font-size: 1.2rem;
            }



        }

        //nav




        &__menu-btn {

            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 8rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
            top: -1.5rem;
            right: 0;

            &--burger {
                width: 2.5rem;
                height: .5rem;
                background: v.$grisLight;
                border-radius: .5rem;
                box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                transition: all .3s ease-in-out;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 2.5rem;
                    height: .5rem;
                    background: v.$grisLight;
                    border-radius: .5rem;
                    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                    transition: all .3s ease-in-out;
                }


                &::before {
                    transform: translateY(-1rem);
                }

                &::after {
                    transform: translateY(1rem);
                }
            }

        }

        //sidebar
    }

}


.dashboard__sidebar__menu-btn.open .dashboard__sidebar__menu-btn--burger {
    transform: translateX(-5rem);
    background: transparent;
    box-shadow: none;
}


.dashboard__sidebar__menu-btn.open .dashboard__sidebar__menu-btn--burger::before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
}

.dashboard__sidebar__menu-btn.open .dashboard__sidebar__menu-btn--burger::after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}