@use 'base/mixins' as m;
@use 'base/variables' as v;


.dashboard {

    &__sidebar {

       

        &__ip {
            text-align: center;
            transition: all v.$tiempo v.$animacion;
            color: white;
        }

        // border: 1px solid white;

        position: relative;
        background-color: v.$azul-siteur;
        padding-top: 1rem;
        z-index: 1;
        border-radius: 0  0 3rem 3rem;

   
        @include m.tablet {
            min-height: 100vh;
            border-radius: 0 3rem 3rem 0;

     

            padding-top: 0;
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 0;
           
        }



        &-contenedor {
            min-height: 100vh;
            // width: 100%;
            // transition: width 1s ease;

            &.activo {
                // width: 8rem;
                & .dashboard {

                    &__sidebar {
                        &-nav {
                            display: block;
                            padding-bottom: 5rem;

                          
                            &--menu{

                                &.menu-footer{
                                    // display: unset;
                                }
                            }
                        
                        }
                    }

                }

                @include m.tablet {



                    & .dashboard {

                        &__sidebar {

                            &--header {
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }

                            &__ip {
                                visibility: hidden;
                                opacity: 0;
                            }

                            &--empleado {

                                &-imagen {
                                    width: 5rem;
                                }

                                &-nombre {
                                    opacity: 0;
                                    font-size: 0;
                                }
                            }


                            &-nav {

                               



                                &--menu {

                                    & ul {
                                        padding-left: 1rem;

                                        & li {
                                            // background-color: red;
                                        }
                                    }

                                    & .dashboard__sidebar-nav {

                                        &--sub-menu {
                                            position: absolute;
                                            top: 0;
                                            left: 5rem;
                                            width: max-content;
                                            border-radius: 0 2rem 2rem 0;
                                            padding: 1rem 2rem;
                                            border: 1px solid v.$blanco;
                                            background-color: v.$azul-siteur;
                                            box-shadow: 0 1rem .8rem rgba(0, 0, 0, 0.3);

                                        }
                                    }



                                }

                                &--menu>ul>li>a:hover .dashboard__sidebar-nav--texto {
                                    left: 7rem;
                                    opacity: 1;
                                    visibility: visible;
                                    
                                }


                                &--menu>ul>li>a {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;


                                    & .dashboard__sidebar-nav {

                                        &--texto {
                                            position: absolute;
                                            // left: 9rem;
                                            // top: 50%;
                                            left: 7rem;
                                            top: 0;
                                            transform: translateY(-50%);
                                            padding: 1rem;
                                            border-radius: 0.4rem;
                                            color: #fff;
                                            background-color: v.$azul-siteur;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: all .1s v.$animacion;
                                            width: max-content;
                                            margin-left: 1rem;
                                            z-index: 3;
                                        }

                                        &--texto::after {
                                            content: "";
                                            position: absolute;
                                            left: -.5rem;
                                            top: 20%;
                                            width: 2rem;
                                            height: 2rem;
                                            border-radius: .2rem;
                                            background-color: v.$azul-siteur;
                                            transform: rotate(45deg);
                                            z-index: -1;
                                        }


                                    }
                                }

                                // &--menu ul {
                                //     padding: 2rem;

                                //     & li {
                                //         overflow: hidden;

                                //         &:hover{
                                //             overflow: visible;
                                //               position: absolute;

                                //         }

                                //         & a {
                                //             gap: 4rem;
                                //             padding-left: 1rem;
                                //         }
                                //     }
                                // }

                                &--arrow {
                                    opacity: 0;
                                }
                            }

                        }
                    }
                }

                //dashboard


            }

            //activo


        }


        &--header {

            width: 80%;
            // border-bottom: .15rem solid rgba(65, 64, 64, 0.1);
            box-shadow: 0px 18px 15px -28px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
    
            transition: all v.$tiempo v.$animacion;

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding-right: 5rem;

            @include m.tablet {
                // margin-bottom: 1rem; //afecta la imagen, si se pone reducir tamaño de imagen
                // padding-bottom: 2rem;  //afecta la imagen, si se pone reducir tamaño de imagen
                padding-right: 0;
                display: unset;
            }


        }

        &--empleado {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;



            &-imagen {

                width: 5rem;

                @include m.tablet {

                    width: 15rem;
                    @media (height<750px) {
                        width: 10rem;
                        
                    }

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 2px solid v.$blanco;
                    transition: width v.$tiempo v.$animacion;
                }

                &--foto {
                    width: 100%; //esta en globales
                    object-fit: cover;
                }

                // background-color: blue;
            }




            &-nombre {
                display: none;

                color: white;
                text-align: center;
                font-size: 1.3rem;
                font-weight: v.$bold;
                transition: all v.$tiempo v.$animacion;
                @include m.tablet {
                    display: block;
                }

                &--texto {
                    margin-bottom: .5rem;
                }

            }
        }


        &-nav {

            max-width: 28rem;
            box-shadow: 0px 18px 15px -28px rgba(0, 0, 0, 0.3);


            flex: 1;
            display: none;

            @include m.tablet {
                display: unset;
            }


            &-arrow {
                transition: opacity .1s v.$animacion;
            }

            &--menu {
                &.menu-footer {
                    
                    display: none;

                    @include m.tablet {
                        display: unset;
                    }
                }
            }

            // &--menu ul {
            //     transition: all v.$tiempo v.$animacion;
            // }

            &--menu ul li {
                position: relative;
                list-style: none;
                margin-bottom: .5rem;
                // padding-right: 1.5rem; 

            }

            &--menu ul li .dashboard__sidebar-nav--arrow {
                font-size: 1.4rem;
                transition: all .5s v.$animacion;
            }

            &--menu ul li.activo .dashboard__sidebar-nav--arrow {
                transform: rotate(90deg);

            }


            &--menu ul li a {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.3rem;
                font-weight: v.$bold;
                color: v.$blanco;
                text-decoration: none;
                padding: 1.2rem .8rem;
                border-radius: .8rem;
                transition: all v.$tiempo v.$animacion;

            }

            &--menu ul li>a:hover,
            &--menu ul li.activo>a {
                color: white;
                background-color: lighten(v.$azul-siteur, 20);
            }



            // &--menu.dark ul li>a:hover,
            // &--menu.dark ul li.activo>a {
            //     color: #fff;
            //     background-color: lighten(v.$admin-barra, 60);
            // }

            &--icono {
                font-size: 2rem;
            }

            &--texto {
                flex: 1;
                padding-top: .3rem;
            }

            // &--arrow {
            //     font-size: 1.4rem;
            // }



            &--menu .dashboard__sidebar-nav--sub-menu {
                margin-left: 2rem;
                padding-left: 2rem;
                padding-top: .5rem;
                border-left: .1rem solid v.$grisLight;
                display: none;
            }

            &--menu .dashboard__sidebar-nav--sub-menu li a {
                padding: 1rem .8rem;
                font-size: 1.2rem;
            }



        }

        //nav



        &__menu-btn {

            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 8rem;
            cursor: pointer;
            transition: all v.$tiempo v.$animacion;
            top: -1.5rem;
            right: 1.5rem;

            &--burger {
                width: 2.5rem;
                height: .5rem;
                background: v.$blanco;
                border-radius: .5rem;
                box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                transition: all v.$tiempo v.$animacion;
                // background: transparent;

                // @include m.tablet { 
                //     background: transparent;
                // }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 2.5rem;
                    height: .5rem;
                    background: v.$blanco;
                    border-radius: .5rem;
                    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                    transition: all v.$tiempo v.$animacion;

                    // @include m.tablet { 
                    //     background: v.$blanco;
                    //     box-shadow: none;
                    // }
                }


                &::before {
                    transform: translateY(-1rem);
                    // transform: rotate(45deg);

                    // @include m.tablet { 
                    //     transform: rotate(45deg);
                    // }

                }

                &::after {
                    transform: translateY(1rem);
                    // transform: rotate(-45deg);
                    // @include m.tablet { 
                    //     transform: rotate(-45deg);
                    // }
                }
            }

        }


        &__menu-btn.close{
            right: 0;
        }
        
        //sidebar
    }

}


.dashboard__sidebar__menu-btn.close .dashboard__sidebar__menu-btn--burger {
    transform: translateX(-5rem);
    background: transparent;
    box-shadow: none;
    // transform: unset;
    // background-color: v.$blanco;

    // @include m.tablet { 
    //     transform: unset;
    //     background-color: v.$blanco;

    // }
}


.dashboard__sidebar__menu-btn.close .dashboard__sidebar__menu-btn--burger::before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
    // transform: rotate(0) translateY(-1rem);

    // @include m.tablet { 
    //     transform: rotate(0) translateY(-1rem);
    // }
}

.dashboard__sidebar__menu-btn.close .dashboard__sidebar__menu-btn--burger::after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
    // transform: rotate(0) translateY(1rem);

    // @include m.tablet { 
    //     transform: rotate(0) translateY(1rem);
    // }
}


.dashboard__sidebar-contenedor.activo .dashboard__sidebar-nav{
    display: none;


    @include m.tablet { 
        display: block;
    }
}

.dashboard__sidebar-contenedor.activo .dashboard__sidebar-nav--menu.menu-footer{
    display: none;

    @include m.tablet { 
        display: block;
       width: auto;
    }
}


.dashboard__sidebar-contenedor .dashboard__sidebar-nav{
    display: block;


    @include m.tablet { 
        display: block;
    }
}



.dashboard__sidebar-contenedor .dashboard__sidebar-nav--menu.menu-footer{
    display: block;
    padding: 3rem 0 1rem 0;
    width: 28rem;

   

    @include m.tablet { 
        display: block;
        
    }
}

.dashboard__grid .notificaciones-icono{
   
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: white;
    position: absolute;
    transform: translate(-1.5rem, -1rem);
    display: none;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    background-color: red;
    
}


.dashboard__grid.activo .notificaciones-icono{
    transform: translate(-1.2rem, -1.2rem);
    // transform: translate(-1rem,-1rem);
}


